* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', 'Open Sans';
	background-color: hsl(257, 40%, 49%);
	background-image: url("../images/bg-mobile.svg");
	background-position: top;
	background-repeat: no-repeat;
	background-size: 100%;
}

.header-content {
	background: transparent;
	padding: 60px;
}

.header-content img {
	background: transparent;
	width: 350px;
}

.main {
	display: block;
	background: transparent;
	max-width: 1440px;
	padding: 60px;
}

.main-banner {
	background: transparent;
}	

.main-banner img {
	background: transparent;
	text-align: center;
	width: 100%;
}

.main-text {
	background: transparent;
	color: #fff;
}

.main-text h1 {
	background: transparent;
	margin-top: 150px;
	text-align: center;
	font-family: 'Poppins';
	font-size: 70px;
	font-weight: 700;
}

.main-text p {
	background: transparent;
	margin-top: 45px;
	text-align: center;
	font-family: 'Poppins';
	font-size: 42px;
	font-weight: 400;
}

.main-text_btn {
	background: transparent;
	margin-top: 45px;
	display: flex;
	justify-content: center;
}

.main-text_btn a{
	width: 550px;
	padding: 25px 0;
	background: transparent;
	text-align: center;
	background-color: #fff;
	font-size: 35px;
	text-decoration: none;
	color: hsl(257, 40%, 49%);
	border-radius: 50px;
	-webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.35);
}

footer {
	background: transparent;
}

.social-net {
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 250px;
	margin-bottom: 20px
}

.social-net img {
	background: transparent;
	margin: 0px 20px;
	width: 45px;
	height: 45px;
	border: 2px solid #fff;
	padding: 20px;
	border-radius: 100%;
}

@media screen and (min-width: 768px) {
	* {
		background-image: url("../images/bg-desktop.svg");
	}

	.header-content {
		display: flex;
		justify-content: flex-start;
		align-content: center;
		height: 40px;
		padding: 40px;
	}
	
	.header-content img {
		width: 180px;
	}

	.main{
		display: grid;
		grid-template-columns: 60% 40%;
		grid-gap: 20px;
		justify-content: center;
		align-items: center;
	}

	.main-banner img {
		width: 100%;
	}

	.main-text {
		width: 100%;
	}

	.main-text h1 {
		margin: 0;
		text-align: left;
		font-size: 22px;
	}

	.main-text p {
		margin-top: 10px;
		text-align: left;
		font-size: 10px;
	}

	.main-text_btn {
		margin-top: 10px;
		justify-content: flex-start;
	}
	
	.main-text_btn a {
		width: 100px;
		font-size: 10px;
		padding: 5px 0;
		cursor: pointer;
	}

	.social-net {
		margin-right: 60px;
		height: 0;
		justify-content: flex-end;
	}

	.social-net img {
		padding: 5px;
		margin: 0 5px;
		width: 12px;
		height: 12px;
	}

}

@media screen and (min-width: 1024px) {
	.main{
		max-width: 1440px;
		display: grid;
		grid-template-columns: 60% 40%;
		grid-gap: 20px;
		justify-content: center;
		align-items: center;
		padding: 0px 60px;
	}

	.main-text h1 {
		margin: 0;
		text-align: left;
		font-size: 30px;
	}

	.main-text p {
		margin-top: 10px;
		text-align: left;
		font-size: 15px;
	}

	.main-text_btn a {
		width: 150px;
		font-size: 15px;
		padding: 5px 0;
	}

	.social-net {
		margin-right: 60px;
		margin-top: -50px;
	}

	.social-net img {
		padding: 5px;
		margin: 0 5px;
		width: 16px;
		height: 16px;
	}

}
